<!DOCTYPE html>
<html>

<head>
    <title>Luiz Prova</title>
    <link rel="icon" href="{{ url_for('static', filename='SP.jpg') }}" sizes="16x16 32x32 48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 style="color: white;">Rotas: /ping; /echo</h1>
    <form action="/echo" method="post">
        <input type="text" name="nome" placeholder="Digite um texto">
        <button type="submit">Envie</button> 
    </form>
</body>

</html>