<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" href="../static/estilo.css"></head>
<body>
    <main>
        <h2>rotas presentes nesta aplicação: /pegar-header; /pegar-elementos; /mover; /posicao; /print; /log</h2>
        <div hx-get="http://localhost:5000/pegar-header" hx-trigger="load once" hx-swap="outerHTML"></div>
        <div hx-get="http://localhost:5000/pegar-elementos" hx-trigger="load once"></div>
    </main>
</body>
</html>