<!DOCTYPE html>
<html>
<head>
    <title>Minha Aplicação Web</title>
</head>
<body>
    <h1>Ola Mundo!!</h1>
    <form action="/novo" method="post">
        <input type="text" name="nome" placeholder="Novos pontos">
        <button type="submit">Enviar</button>
    </form>
    <form action="/pegar_caminho" method="post">
        <input type="text" name="nome" placeholder="Pega o caminho">
        <button type="submit">Enviar</button>
    </form>
    <form action="/listas_caminhos" method="post">
        <input type="text" name="nome" placeholder="Lista caminhos">
        <button type="submit">Enviar</button>
    </form>
    <form action="/atualizar" method="post">
        <input type="text" name="nome" placeholder="Atualiza caminho">
        <button type="submit">Enviar</button>
    </form>
    <form action="/deletar" method="post">
        <input type="text" name="nome" placeholder="Deleta caminho">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>